<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Website Title -->
    <title>HR Analytics</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link href="css/swiper.css" rel="stylesheet">
	<link href="css/magnific-popup.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">

</head>
<body data-spy="scroll" data-target=".fixed-top">


    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <a class="navbar-brand logo-text page-scroll" href="http://localhost:1212/">Home</a>
        <a class="navbar-brand logo-text page-scroll" href="http://localhost:1212/statistic">Statistics</a>
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->
    <!-- Prediction -->
    <form method="POST" action="http://localhost:1212/result">
    <div id="request" class="form-1">
    <center>
    <h3> PREDICT CALCULATION </h3>
    <p>HR Analytics</p>
    </center>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-container">
                        <div class="form-group" required="required">
                            <div class="form-group" required="required">
                                <label for="city">City :</label>
                                <input type="number" step= "1" min="1" max="122" class="form-control" name="city" placeholder="1-122" required=True>
                            </div>

                        <div class="form-group" required="required">
                            <label for="city_development_index">City Development Index :</label>
                            <input type="number" step= "0.001" min="0.448" max="0.949" class="form-control" name="city_development_index" placeholder="0.448-0.949" required=True>
                        </div>

                        <div class="form-group" required="required">
                            <label for="gender">gender :</label>
                            <select name="gender" class="form-control">
                                <option value="" disabled selected>Choose Option..</option>
                                <option value="1">Male</option>
                                <option value="0">Female</option>   
                            </select>
                        </div>
                            
                        <div class="form-group" required="required">
                            <label for="relevent_experience">Relevent Experience :</label>
                            <select name="relevent_experience" class="form-control">
                                <option value="" disabled selected>Choose Option..</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>

                        <div class="form-group" required="required">
                            <label for="enrollee_university">Enrolled University :</label>
                            <select name="enrolled_university" class="form-control">
                                <option value="" disabled selected>Choose Option..</option>
                                <option value="3">No Enrollment</option>
                                <option value="0">Full Time Course</option>
                                <option value="1">Part Time Course</option>
                            </select>
                        </div>

                        <div class="form-group" required="required">
                            <label for="education_level">Education level :</label>
                            <select name="education_level" class="form-control">
                                <option value="" disabled selected>Choose Option..</option>
                                <option value="0">Graduate</option>
                                <option value="1">high School</option>
                                <option value="2">Master</option>
                                <option value="3">Phd</option>
                                <option value="4">Primary School</option>
                            </select>
                        </div>

                        <div class="form-group" required="required">
                            <label for="major_discipline">Major Discipline:</label>
                            <select name="major_discipline" class="form-control">
                                <option value="" disabled selected>Choose Option..</option>
                                <option value="0">Arts</option>
                                <option value="1">Business Degree</option>
                                <option value="2">Humanities</option>
                                <option value="3">No Major</option>
                                <option value="4">Other</option>
                                <option value="5">STEM</option>
                                <option value="6">Nan</option> 
                            </select>
                        </div>

                        <div class="form-group" required="required">
                            <label for="experience">Experience :</label>
                            <input type="number" placeholder="0-22" name="experience" step= "1" min="0" max="22" id="experience" class="form-control" required=True/>
                        </div>

                        <div class="form-group" required="required">
                            <label for="company_size">Company Size :</label>
                            <input type="number" placeholder="0-7" name="company_size" step= "1" min="1" max="7" id="company_size" class="form-control" required=True/>
                        </div>

                        <div class="form-group" required="required">
                            <label for="company_type">Company Type:</label>
                            <select name="company_type" class="form-control">
                                <option value="" disabled selected>Choose Option..</option>
                                <option value="0">Early Stage Startup</option>
                                <option value="1">Funded Startup</option>
                                <option value="2">NGO</option>
                                <option value="3">Others</option>
                                <option value="4">Public Sector</option>
                                <option value="5">Pvt Ltd</option>
                                <option value="6">Nan</option> 
                            </select>
                        </div>

                        <div class="form-group" required="required">
                            <label for="last_new_job">last new job :</label>
                            <input type="number" placeholder="0-6" name="last_new_job" step= "1" min="1" max="6" id="last_new_job" class="form-control" required=True/>
                        </div>

                        <div class="form-group" required="required">
                            <label for="training_hours">Training Hours :</label>
                            <input type="number" placeholder="1-336" name="training_hours" step= "1" min="1" max="336" id="training_hours" class="form-control" required=True/>
                        </div>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <!-- <div class="col-lg-8"> -->
                    <!-- <div class="text-container"> -->
                     
                    <!-- </div> end of form-container -->
                <!-- </div> end of col -->
                <div class="col-lg-6">
                    <div class="text-container">
                <div class="form-group col-lg-12">
                    <button type="submit" class="form-control-submit-button">PREDICT NOW!</button>
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-1 -->
    </form> <!-- end of prediction form -->
    <!-- end of prediction -->
<!-- Scripts -->
<script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
<script src="js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>
